{% extends 'robot_app/base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'robot_app/morning.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}



    <div class="container mt-5">
        <div class="question_robot">
            <img src="/media/robot2.png" width="50">
        </div>

        <div class="question_form">
            <form method="POST" action="" name="form1">{% csrf_token %}
                <p class="tgt">{{ mesg }}</p>
                {% if type == "thanks" %}
                    <script>
                        window.location.href = 'http://localhost:8080/';
                    </script>
                {% else %}
                    <form method="POST" action="" name="form1">{% csrf_token %}
                        <input type="text" class="form-control" placeholder="タイトル" name="title" autocomplete="off" style="margin: 10px 0;">
                        <input type="text" class="form-control blog_textarea" name="text" autocomplete="off" style="margin: 10px 0;">
                        <input type="submit" value="作成">
                    </form>
                {% endif %}
            </form>
        </div>

        <div class="blog_area">
        <h2>過去のブログを見る</h2>
        <ul>
        {% for blog in blogs %}
            <li>{{ blog.created_at|date:"Mj日" }}　{{ blog.title | truncatechars:15 }}</li><a class="readmore">[本文]</a>
            <div class="hide-text">
                <p class="blog_text">{{ blog.text }}</p>
            </div>
            {% endfor %}
        </ul>
        </div>


    </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<script>
    var id = $('form').attr('id');
    // 上記の入力欄にフォーカスを与える
    document.getElementById(id).focus();
</script>

<script>
$(window).on('load',function(){
    // ここから文字を<span></span>で囲む記述
    $('.typ').children().andSelf().contents().each(function() {
        if (this.nodeType == 3) {
            $(this).replaceWith($(this).text().replace(/(\S)/g, '<span>$1</span>'));
        }
    });
    // ここから一文字ずつフェードインさせる記述
    $('.typ').css({'opacity':1});
    for (var i = 0; i <= $('.typ').children().size(); i++) {
        $('.typ').children('span:eq('+i+')').delay(50*i).animate({'opacity':1},50);
    };
});
</script>

<script>
    $(function(){
    $('.hide-text').each(function(i){
        $(this).attr('id','hide-text' + (i+1));
    });
    $('.readmore').each(function(i){
        $(this).attr('id','readmore' + (i+1));
    });
});
</script>

<!--<script>-->
<!--    $(function(){-->
<!--	$("#readmore2").on("click", function() {-->
<!--		$(this).toggleClass("on-click");-->
<!--		$("#hide-text2").slideToggle(500);-->
<!--	});-->
<!--});-->
<!--</script>-->

<script>
    $(function(){
        var num = 1;
        $("#readmore" + num ).on("click", function() {
            $(this).toggleClass("on-click");
            $("#hide-text" + num ).slideToggle(500);
        });
        num+=1;
});
</script>


{% endblock content %}