{% extends 'robot_app/base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'robot_app/morning.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block title %}ブログ{% endblock title %}

{% block content %}



    <div class="container mt-5">
        <div class="question_robot">
            <img src="/media/robot2.png" width="50">
        </div>

        <div class="question_form">
            <form method="POST" action="" name="form1">{% csrf_token %}
                <p class="tgt">{{ mesg }}</p>
                {% if type == "thanks" %}
                    {{ thanks }}
                    <script>
                        window.location.href = 'http://localhost:8080/';
                    </script>
                {% else %}
                    <form method="POST" action="" name="form1">{% csrf_token %}
                        <input type="text" class="form-control" placeholder="タイトル" name="title" autocomplete="off" style="margin: 10px 0;">
                        <textarea type="text" class="form-control blog_textarea" name="text" rows="5" autocomplete="off" style="margin: 10px 0;"></textarea>
                        <input type="submit" value="作成">
                    </form>
                {% endif %}
            </form>
        </div>

        <div class="blog_area">
        <h2>過去のブログを見る</h2>
        <ul>
        {% for blog in blogs %}
            <li>{{ blog.created_at|date:"Mj日" }}　{{ blog.title | truncatechars:15 }}</li><a class="readmore">[本文]</a>
            <div class="hide-text">
                <p class="blog_text">{{ blog.text }}</p>
            </div>
            {% endfor %}
        </ul>
        </div>

    </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<!--入力欄へのフォーカス処理-->
<script>
    var id = $('form').attr('id');
    document.getElementById(id).focus();
</script>

<script>
$(window).on('load',function(){
    // ここから文字を<span></span>で囲む記述
    $('.typ').children().andSelf().contents().each(function() {
        if (this.nodeType == 3) {
            $(this).replaceWith($(this).text().replace(/(\S)/g, '<span>$1</span>'));
        }
    });
    // ここから一文字ずつフェードインさせる記述
    $('.typ').css({'opacity':1});
    for (var i = 0; i <= $('.typ').children().size(); i++) {
        $('.typ').children('span:eq('+i+')').delay(50*i).animate({'opacity':1},50);
    };
});
</script>


<!-- readmoreとhide-textがブログとともに増える度に末番に数字を追加する処理 -->
<script>
    $(function () {
        var i = 1;
        $('a.readmore').each(function(i){
         $(this).attr('id','id' + (i+1));
        });
    });
</script>

<script>
    var i = 1;
    $('.hide-text').each(function(){
        $(this).addClass('hide-text'+i);
        i++;
    });
</script>



<!--本文のトグル-->
<script>
    $(function() {
        $(".readmore").on("click", function () {
            var num = $(this).attr("id").slice(-1);
            $(this).toggleClass("on-click");
            $(".hide-text" + num).slideToggle(500);
        });
    });
</script>

{% endblock content %}