{% extends 'robot_app/base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'robot_app/morning.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}

    {% if type == "no_question" %}
        <div class="morning">
            <div class="robot_route clearfix">
                <div class="question_robot">
                    <img src="/media/robot2.png" width="50">
                </div>
            </div>
            <div class="question_route">
                <div class="morning_info">
                    <p class="tgt">{{ user.profname }}さんのモーニング情報</p>
                    <p>平日の起床時間：{{ wake_up.answer }}時</p>
                    <p>家を出る時間：{{ going_work.answer }}時</p>
                    <p>最寄駅：<span id="place">{{ nearest_station.answer }}</span></p>
                    <p>到着駅：{{ arrival_station.answer }}</p>
                    <p><a href="{{ eki_record }}">出発時間を見る</a></p>
                    <p>朝やること</p>
                    <ul>
                        {% for morning in todo_morning %}
                        <li>{{ morning.answer }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="gmap"></div><!-- 地図を表示する領域 -->
        </div>
    {% else %}

    <div class="container mt-5">
        <div class="question_robot">
            <img src="/media/robot2.png" width="50">
        </div>

        <div class="question_form">
            <form method="POST" action="" name="form1">{% csrf_token %}
                <p class="tgt">{{ mesg }}</p>
                {% if type != "thanks" and type != "no_question" and type != "todo_morning" %}
                    <input type="hidden" name="question" value="{{ type }}">
                    <input type="text" name="answer" class="form-control" autocomplete="off">
                {% elif type == "thanks" %}
                    <script>
                        window.location.href = 'http://localhost:8080/';
                    </script>
                {% else %}
                    <form method="POST" action="" name="form1">{% csrf_token %}
            <!--            <div id="input_pluralBox">-->
            <!--                <div id="input_plural">-->
            <!--                    <input type="hidden" name="question" value="{{ type }}">-->
            <!--                    <input type="text" class="form-control" placeholder="やること" name="answer" autocomplete="off">-->
            <!--                    <input type="button" value="＋" class="add pluralBtn" name="answer" value="{{ type }}">-->
            <!--                    <input type="button" value="－" class="del pluralBtn" name="answer" value="{{ type }}">-->
            <!--                </div>-->
            <!--            </div>-->
                        <input type="hidden" name="question" value="{{ type }}">
                        <input type="text" class="form-control" placeholder="やること" name="answer1" autocomplete="off" style="margin: 10px 0;">
                        <input type="text" class="form-control" placeholder="やること" name="answer2" autocomplete="off" style="margin: 10px 0;">
                        <input type="text" class="form-control" placeholder="やること" name="answer3" autocomplete="off" style="margin: 10px 0;">
                        <input type="submit" value="作成">
                    </form>
                {% endif %}
            </form>
        </div>
    </div>
    {% endif %}

    <br><br>
    {% if type == "no_question" %}
        <div class="morning">
            <div class="question_robot">
                <img src="/media/robot2.png" width="50">
            </div>
            <div class="morning_info">
                <p class="morning_edit">モーニング情報を変更しますか？</p>
                <p class="edit_text"><a href="{% url 'robot_app:morning_edit' user.id %}">はい</a>　　<a href="">いいえ</a></p>
            </div>
        </div>
    {% endif %}




<script>
function initMap() {
  // 地図を生成して表示
  var map = new google.maps.Map(document.getElementById("gmap"), {
    zoom: 13,
    mapTypeId: "roadmap"
  });

  //DirectionsService のオブジェクトを生成
  var directionsService = new google.maps.DirectionsService();

  //DirectionsRenderer のオブジェクトを生成
  var directionsRenderer = new google.maps.DirectionsRenderer();

  //directionsRenderer と地図を紐付け
  directionsRenderer.setMap(map);

  //リクエストの出発点の位置（Empire State Building 出発地点の緯度経度）
  var start = new google.maps.LatLng({{ near_lat }}, {{ near_lng }});
  //リクエストの終着点の位置（Grand Central Station 到着地点の緯度経度）
  var end = new google.maps.LatLng( {{ arri_lat }}, {{ arri_lng }});

  // ルートを取得するリクエスト
  var request = {
    origin: start,      // 出発地点の緯度経度
    destination: end,   // 到着地点の緯度経度
    travelMode: 'WALKING' //トラベルモード（歩き）
  };

  //DirectionsService のオブジェクトのメソッド route() にリクエストを渡し、
  //コールバック関数で結果を setDirections(result) で directionsRenderer にセットして表示
  directionsService.route(request, function(result, status) {
    //ステータスがOKの場合、
    if (status === 'OK') {
      directionsRenderer.setDirections(result); //取得したルート（結果：result）をセット
    }else{
      alert("取得できませんでした：" + status);
    }
  });

}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ Google_api_key }}&callback=initMap" async defer></script><!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます。 -->








<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<script>
    var id = $('form').attr('id');
    // 上記の入力欄にフォーカスを与える
    document.getElementById(id).focus();
</script>

<script>
$(window).on('load',function(){
    // ここから文字を<span></span>で囲む記述
    $('.typ').children().andSelf().contents().each(function() {
        if (this.nodeType == 3) {
            $(this).replaceWith($(this).text().replace(/(\S)/g, '<span>$1</span>'));
        }
    });
    // ここから一文字ずつフェードインさせる記述
    $('.typ').css({'opacity':1});
    for (var i = 0; i <= $('.typ').children().size(); i++) {
        $('.typ').children('span:eq('+i+')').delay(50*i).animate({'opacity':1},50);
    };
});
</script>


<!--<script type="text/javascript">-->
<!--$(document).on("click", ".add", function() {-->
<!--    $(this).parent().clone(true).insertAfter($(this).parent());-->
<!--});-->
<!--$(document).on("click", ".del", function() {-->
<!--    var target = $(this).parent();-->
<!--    if (target.parent().children().length > 1) {-->
<!--        target.remove();-->
<!--    }-->
<!--});-->
<!--</script>-->

{% endblock content %}