{% extends 'robot_app/base.html' %}
{% load static %}
{% load humanize %}
{% load division_tag %}

{% block customcss %}
<link href="{% static 'robot_app/notify.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
    <!--吹き出しはじまり-->
    <div class="balloon1">
        <div class="faceicon">
            <img src="/media/robot2.png">
        </div>
        <div class="chatting">
            <div class="says">
            {% if notify_count > 0 %}
                <p>{{ user.profname }}さんに{{ notify_count }}件の提案があります</p>
            {% else %}
                <p>{{ user.profname }}さんへの提案は<br>まだありません</p>
            {% endif %}
            </div>
        </div>
    </div>
    <!--吹き出し終わり-->


    <!--吹き出しはじまり-->
    {% if carsensor_records %}
    <div class="balloon2">
        <div class="faceicon">
          <img src="/media/robot2.png" data-toggle="modal" data-target="#modal2">
        </div>
        <div class="chatting">
            <div class="says">
                <div class="recommend_car clearfix">
                {% for carsensor_rec in carsensor_records %}
                    <div class="result clearfix">
                        <h3>{{ carsensor_rec.brand.name }}</h3>
                        <p><a href="{{ carsensor_rec.urls.pc }}"><img src="{{ carsensor_rec.photo.main.l }}"></a></p>
                        <table>
                            <tr><td>価格</td><td>{{ carsensor_rec.price | division:10000 | floatformat:0 }}万円</td></tr>
                            <tr><td>年式</td><td>{{ carsensor_rec.year}}年</td></tr>
                            <tr><td>走行</td><td>{{ carsensor_rec.odd }}</td></tr>
                        </table>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!--吹き出し終わり-->


<!--    {% if carnews_not_show_eva %}-->
<!--    <div class="delete_robot">-->
<!--        <img src="/media/robot2.png" width="50">-->
<!--        <p>おすすめロボット削除済</p>-->
<!--    </div>-->
<!--    {% else %}-->

    <!--Modal: modal2-->
    <div class="modal fade top" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <img src="/media/robot2.png" width="50"><p style="margin: 10px;">おすすめ表示ロボット</p>
                    <form id="robot2" action="/" name="form2" method="POST">{% csrf_token %}
                        <div class="evaluation">
                            <input type="hidden" name="robot_name" value="carnews_robot">
                            {% if carnews_robot.score == 5 %}
                                <input id="star6" type="radio" name="star" value="5" checked="checked"/>
                                <label for="star6"><span class="text">最高</span>★</label>
                            {% else %}
                                <input id="star6" type="radio" name="star" value="5" />
                                <label for="star6"><span class="text">最高</span>★</label>
                            {% endif %}
                            {% if carnews_robot.score == 4 %}
                                <input id="star7" type="radio" name="star" value="4" checked="checked"/>
                                <label for="star7"><span class="text">良い</span>★</label>
                            {% else %}
                                <input id="star7" type="radio" name="star" value="4" />
                                <label for="star7"><span class="text">良い</span>★</label>
                            {% endif %}
                            {% if carnews_robot.score == 3 %}
                                <input id="star8" type="radio" name="star" value="3" checked="checked" />
                                <label for="star8"><span class="text">普通</span>★</label>
                            {% else %}
                                <input id="star8" type="radio" name="star" value="3" />
                                <label for="star8"><span class="text">普通</span>★</label>
                            {% endif %}
                            {% if carnews_robot.score == 2 %}
                                <input id="star9" type="radio" name="star" value="2" checked="checked" />
                                <label for="star9"><span class="text">悪い</span>★</label>
                            {% else %}
                                <input id="star9" type="radio" name="star" value="2" />
                                <label for="star9"><span class="text">悪い</span>★</label>
                            {% endif %}
                            {% if carnews_robot.score == 1 %}
                                <input id="star10" type="radio" name="star" value="1" checked="checked" />
                                <label for="star10"><span class="text">最悪</span>★</label>
                            {% else %}
                                <input id="star10" type="radio" name="star" value="1" />
                                <label for="star10"><span class="text">最悪</span>★</label>
                            {% endif %}
                        </div>
                        <input type="submit" name="ng_robot" class="btn btn-outline-primary waves-effect" value="削除">
                        <input type="submit" class="btn btn-primary" value="評価する">
                    </form>
                </div>
            </div>
        </div>
        <!--/.Content-->
        </div>
    </div>
    <!--Modal: modal2-->

<!--{% endif %}-->



    <!--吹き出しはじまり-->
    {% if overweight %}
    <div class="balloon3">
        <div class="faceicon">
            <img src="/media/robot2.png" data-toggle="modal" data-target="#modal3">
        </div>
        <div class="chatting">
            <div class="says">
                <!--  健康情報を表示 -->
                <div id='weight_news' class="suggestion">
                    <div class="health">
                        <p>{{ weight_result }}</p>
                        <p>{{ overweight_text }}</p>

                        <table>
                            <tr><td style="width: 30%;">現在の体重</td><td style="width: 26%;">{{ weight.answer }}kg</td></tr>
                            <tr><td>標準の体重</td><td>{{ suitable_weight | floatformat:0 }}kg</td></tr>
                            <tr><td>体重差</td><td>{{ overweight }}kg</td></tr>
                        </table>
                        {% if youtube_records %}
                        <div id="text-wrap">
                            <div class="show-text">
                                <p>ダイエット方法を動画で見ませんか？</p>
                            </div>
                            <div class="hide-text">
                                {% for youtube_rec in youtube_records %}
                                <div class="result">
                                    <a href="https://www.youtube.com/watch?v={{ youtube_rec.id.videoId }}">
                                        <p>{{ youtube_rec.snippet.title | truncatechars:17 }}</p>
                                        <p><img src="{{ youtube_rec.snippet.thumbnails.medium.url }}"></p>
                                    </a>
                                </div>
                              {% endfor %}
                          </div>
                          <button class="readmore">動画をみる</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!--吹き出し終わり-->

<!--Modal: modal3-->
    <div class="modal fade top" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <img src="/media/robot2.png" width="50"><p style="margin: 10px;">健康表示ロボット</p>
                    <form id="robot3" action="/" name="form2" method="POST">{% csrf_token %}
                        <div class="evaluation">
                            <input type="hidden" name="robot_name" value="healthy_robot">
                            {% if healthy_robot.score == 5 %}
                                <input id="star11" type="radio" name="star" value="5" checked="checked"/>
                                <label for="star11"><span class="text">最高</span>★</label>
                            {% else %}
                                <input id="star11" type="radio" name="star" value="5" />
                                <label for="star11"><span class="text">最高</span>★</label>
                            {% endif %}
                            {% if healthy_robot.score == 4 %}
                                <input id="star12" type="radio" name="star" value="4" checked="checked"/>
                                <label for="star12"><span class="text">良い</span>★</label>
                            {% else %}
                                <input id="star12" type="radio" name="star" value="4" />
                                <label for="star12"><span class="text">良い</span>★</label>
                            {% endif %}
                            {% if healthy_robot.score == 3 %}
                                <input id="star13" type="radio" name="star" value="3" checked="checked" />
                                <label for="star13"><span class="text">普通</span>★</label>
                            {% else %}
                                <input id="star13" type="radio" name="star" value="3" />
                                <label for="star13"><span class="text">普通</span>★</label>
                            {% endif %}
                            {% if healthy_robot.score == 2 %}
                                <input id="star14" type="radio" name="star" value="2" checked="checked" />
                                <label for="star14"><span class="text">悪い</span>★</label>
                            {% else %}
                                <input id="star14" type="radio" name="star" value="2" />
                                <label for="star14"><span class="text">悪い</span>★</label>
                            {% endif %}
                            {% if healthy_robot.score == 1 %}
                                <input id="star15" type="radio" name="star" value="1" checked="checked" />
                                <label for="star15"><span class="text">最悪</span>★</label>
                            {% else %}
                                <input id="star15" type="radio" name="star" value="1" />
                                <label for="star15"><span class="text">最悪</span>★</label>
                            {% endif %}
                        </div>
                        <input type="submit" name="ng_robot" class="btn btn-outline-primary waves-effect" value="削除">
                        <input type="submit" class="btn btn-primary" value="評価する">
                    </form>
                </div>
            </div>
        </div>
        <!--/.Content-->
        </div>
    </div>
    <!--Modal: modal3-->


    <!--吹き出しはじまり-->
    {% if schedule_records %}
        <div class="balloon4">
            <div class="faceicon">
                <img src="/media/robot2.png" data-toggle="modal" data-target="#modal4">
            </div>
            <div class="chatting">
                <div class="says">
                    <div class="question_form">
                        <!--  スケジュールを表示 -->
                        <div id='schedule' class="suggestion">
                            <div class="result">
                                <div class="todays_schedule">
                                    <h2>今日の予定</h2>
                                    <ul>
                                    {% for schedule in schedule_records %}
                                        <li>{{ schedule.start_time }}〜{{ schedule.end_time }}</li>
                                        <li>{{ schedule.summary }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--吹き出し終わり-->


<!--    {% if not_show_eva %}-->
<!--    <div class="delete_robot">-->
<!--        <img src="/media/robot2.png" width="50">-->
<!--        <p>スケジュールロボット削除済</p>-->
<!--    </div>-->
<!--    {% else %}-->

    <!--Modal: modal4-->
    <div class="modal fade top" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-body">
                    <div class="row d-flex justify-content-center align-items-center">
                        <img src="/media/robot2.png" width="50"><p style="margin: 10px;">スケジュール表示ロボット</p>
                        <form id="robot4" action="/" name="form2" method="POST">{% csrf_token %}
                        <div class="evaluation">
                            <input type="hidden" name="robot_name" value="schedule_robot">
                            {% if schedule_robot.score == 5 %}
                                <input id="star16" type="radio" name="star" value="5" checked="checked"/>
                                <label for="star16"><span class="text">最高</span>★</label>
                            {% else %}
                                <input id="star16" type="radio" name="star" value="5" />
                                <label for="star16"><span class="text">最高</span>★</label>
                            {% endif %}
                            {% if schedule_robot.score == 4 %}
                                <input id="star17" type="radio" name="star" value="4" checked="checked"/>
                                <label for="star17"><span class="text">良い</span>★</label>
                            {% else %}
                                <input id="star17" type="radio" name="star" value="4" />
                                <label for="star17"><span class="text">良い</span>★</label>
                            {% endif %}
                            {% if schedule_robot.score == 3 %}
                                <input id="star18" type="radio" name="star" value="3" checked="checked" />
                                <label for="star18"><span class="text">普通</span>★</label>
                            {% else %}
                                <input id="star18" type="radio" name="star" value="3" />
                                <label for="star18"><span class="text">普通</span>★</label>
                            {% endif %}
                            {% if schedule_robot.score == 2 %}
                                <input id="star19" type="radio" name="star" value="2" checked="checked" />
                                <label for="star19"><span class="text">悪い</span>★</label>
                            {% else %}
                                <input id="star19" type="radio" name="star" value="2" />
                                <label for="star19"><span class="text">悪い</span>★</label>
                            {% endif %}
                            {% if schedule_robot.score == 1 %}
                                <input id="star20" type="radio" name="star" value="1" checked="checked" />
                                <label for="star20"><span class="text">最悪</span>★</label>
                            {% else %}
                                <input id="star20" type="radio" name="star" value="1" />
                                <label for="star20"><span class="text">最悪</span>★</label>
                            {% endif %}
                        </div>
                            <input type="submit" name="ng_robot" class="btn btn-outline-primary waves-effect" value="削除">
                            <input type="submit" class="btn btn-primary" value="評価する">
                        </form>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modal4-->
<!--{%  endif %}-->



    <!--吹き出しはじまり-->
    {% if schedule_records %}
        <div class="balloon5">
            <div class="faceicon">
                <img src="/media/robot2.png">
            </div>
            <div class="chatting">
                <div class="says">
                    <div class="question_form">
                        <p>ロボットのアイコンをタップして対応を評価できますよ。</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--吹き出し終わり-->


<script>
    $(function(){
        $(".balloon1").css({opacity:'0'});
        setTimeout(function(){
            $(".balloon1").stop().animate({opacity:'1'},1000);
        },2000);
    });

    $(function(){
        $(".balloon2").css({opacity:'0'});
        setTimeout(function(){
            $(".balloon2").stop().animate({opacity:'1'},1000);
        },5000);
    });

    $(function(){
        $(".balloon3").css({opacity:'0'});
        setTimeout(function(){
            $(".balloon3").stop().animate({opacity:'1'},1000);
        },9000);
    });

    $(function(){
        $(".balloon4").css({opacity:'0'});
        setTimeout(function(){
            $(".balloon4").stop().animate({opacity:'1'},1000);
        },12000);
    });

    $(function(){
        $(".balloon5").css({opacity:'0'});
        setTimeout(function(){
            $(".balloon5").stop().animate({opacity:'1'},1000);
        },13000);
    });
</script>




    <br><br><br>
</div>




<script>
$(window).on('load',function(){
    // ここから文字を<span></span>で囲む記述
    $('.typ').children().andSelf().contents().each(function() {
        if (this.nodeType == 3) {
            $(this).replaceWith($(this).text().replace(/(\S)/g, '<span>$1</span>'));
        }
    });
    // ここから一文字ずつフェードインさせる記述
    $('.typ').css({'opacity':1});
    for (var i = 0; i <= $('.typ').children().size(); i++) {
        $('.typ').children('span:eq('+i+')').delay(50*i).animate({'opacity':1},50);
    };
});
</script>



<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<script>
    $('.tgt').children().andSelf().contents().each(function() {
        if (this.nodeType == 3) {
            $(this).replaceWith($(this).text().replace(/(\S)/g, '<span>$1</span>'));
        }
    });
</script>


<!--検索補完機能-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(function() {
    const arr1 = ['ぐるなび', 'Yotube', '質問', 'toDo', 'ブログ', 'ニュース', 'スケジュール', 'お出かけ'];

    $("#autocomplete_search").autocomplete({
      source:arr1
    });
  });
</script>


<script>

</script>
{% endblock content %}