{% extends 'robot_app/base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'robot_app/index.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
    <div class="container mt-5 pc_display">
        <div class="question_robot">
            <img src="/media/robot2.png" width="50">
        </div>
        {% if type == "thanks" %}
            {{ thanks }}
        {% endif %}

        {% if type == 'password1' or type == 'password2' %}
            <div class="question_form">
                <form method="POST" action="" name="form1">{% csrf_token %}
                    <p class="tgt">{{ mesg }}</p>
                    <input type="hidden" name="question" value="{{ type }}">
                    <input id="id_pass"  type="password" name="answer" class="form-control" autocomplete="off">
                </form>
            </div>
        {% elif type == 'email' %}
            <div class="question_form">
                <form method="POST" action="" name="form1">{% csrf_token %}
                    <p class="tgt">{{ mesg }}</p>
                    <input type="hidden" name="question" value="{{ type }}">
                    <input id="id_mail" type="text" name="answer" class="form-control" autocomplete="off">
                </form>
            </div>
        {% else %}
            <div class="question_form">
                <form method="POST" action="" name="form1">{% csrf_token %}
                    <p class="tgt">{{ mesg }}</p>
                    <input type="hidden" name="question" value="{{ type }}">
                    <input id="id_profname" type="text" name="answer" class="form-control" autocomplete="off">
                </form>
            </div>
        {% endif %}

    </div>



<script>
    var id = $('form').attr('id');
    // 上記の入力欄にフォーカスを与える
    document.getElementById(id).focus();
</script>


<script>
$(window).on('load',function(){
    // ここから文字を<span></span>で囲む記述
    $('.typ').children().andSelf().contents().each(function() {
        if (this.nodeType == 3) {
            $(this).replaceWith($(this).text().replace(/(\S)/g, '<span>$1</span>'));
        }
    });
    // ここから一文字ずつフェードインさせる記述
    $('.typ').css({'opacity':1});
    for (var i = 0; i <= $('.typ').children().size(); i++) {
        $('.typ').children('span:eq('+i+')').delay(50*i).animate({'opacity':1},50);
    };
});
</script>

{% endblock content %}