{% extends 'robot_app/base.html' %}
{% load static %}
{% load humanize %}

{% block customcss %}
<link href="{% static 'robot_app/wants.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
    <ul id="tenki">
        {% for tenki, data in tenki_api.items %}
         <li>{{ tenki }}：{{ data }}</li>
        {% endfor %}
        <!-- ぐるなび  -->
        <div class="result" style="
            width: 90%;
            display: inline-block;
            float: left;
        "><br>
        今日は暑いので冷たい蕎麦やうどんはいかがでしょうか？
            {% for gnavi_rec in gnavi_records %}
                <p><a href="{{ gnavi_rec.url }}"><img src="{{ gnavi_rec.image_url.shop_image1 }}" width="100">
                店名：{{ gnavi_rec.name }}</a></p>
            {% endfor %}
        </div>
        <!-- ぐるなび  -->
    </ul>
    <input type="button" id="tenki_button" value="天気を表示" style="margin-left: 20px;">

<div class="container mt-5">
    <div class="suggest_area">
        <div class="robot_route clearfix">
            <div class="question_robot">
                <img src="/media/robot2.png" width="50">
            </div>
        </div>
        <div class="question_route">
                <div class="question_form">
                    <p>{{ nav_menu }}</p>
                    <ul>
                        <li class="tgt" style="list-style: none;">{{ gurunavi_search }}</li>
                        <li class="tgt" style="list-style: none;">{{ youtube_search }}</li>
                        <li class="tgt" style="list-style: none;">{{ add_questions }}</li>
                    </ul>
                    <div class="question">
                        <form method="POST" action="" name="form1">{% csrf_token %}
                            <input type="hidden" name="question" class="form-control" value="{{ type }}" autocomplete="off">
                            <input type="text" name="answer" class="form-control" placeholder="番号を入力してください" autocomplete="off">
                        </form>
                    </div>
                </div>
        </div>
    </div>

    <div class="suggest_area">
        <div class="robot_route clearfix">
            <div class="question_robot">
                <img src="/media/robot2.png" width="50">

            </div>
        </div>
        <div class="question_route">
            <div class="question_form">
                <!--  おすすめの車情報を表示 -->
                <input type="button" id="car_news_button" value="おすすめ情報を表示" style="width:100%;">
                {% if carsensor_records %}
                <div id='car_news' class="suggestion">
                    {{car_news}}
                        <div class="result">
                            <div class="recommend_car clearfix">
                                {% for carsensor_rec in carsensor_records %}
                                    <div class="result">
                                        <p>{{ carsensor_rec.brand.name }}</p>
                                            <p><a href="{{ carsensor_rec.urls.pc }}"><img src="{{ carsensor_rec.photo.main.l }}"></a></p>
                                        <p>価格：{{ carsensor_rec.price | intcomma }}円</p>
                                        <p>年式：{{ carsensor_rec.year}}年</p>
                                        <p>走行：{{ carsensor_rec.odd }}</p>
                                    </div>
                                {% endfor %}
                            </div>

                            <hr>
                            <div class="recommend_car">
                                <!-- ちなみに・・・ -->
                                <p>{{ add_car_news | linebreaksbr }}</p>
                                {% for carsensor_rec_ver2 in carsensor_records_ver2 %}
                                    <div class="result">
                                        <p>{{ carsensor_rec_ver2.brand.name }}</p>
                                            <p><a href="{{ carsensor_rec_ver2.urls.pc }}"><img src="{{ carsensor_rec_ver2.photo.main.l }}"></a></p>
                                        <p>価格：{{ carsensor_rec_ver2.price | intcomma }}円</p>
                                        <p>年式：{{ carsensor_rec_ver2.year}}年</p>
                                        <p>走行：{{ carsensor_rec_ver2.odd }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>


        <div class="suggest_area">
            <div class="robot_route clearfix">
                <div class="question_robot">
                    <img src="/media/robot2.png" width="50"><i class="fa fa-heart" aria-hidden="true"></i>

                </div>
            </div>
            <div class="question_route">
                <div class="question_form">
                    <input type="button" id="weight_news_button" value="体に変化があります" style="width:100%;">
                    <!--  健康情報を表示 -->
                    <div id='weight_news' class="suggestion">
                        <div class="health">
                            <p>{{ weight_result }}</p>
                            <p>{{ overweight_text }}</p>

                            <table>
                                <tr><td style="width: 30%;">現在の体重</td><td style="width: 26%;">{{ weight.answer }}kg</td></tr>
                                <tr><td>標準の体重</td><td>{{ suitable_weight | floatformat:0 }}kg</td></tr>
                                <tr><td>体重差</td><td>{{ overweight }}kg</td></tr>
                            </table>
                            <div id="text-wrap">
                            <div class="show-text">
                                <p>ダイエット方法を動画で見ませんか？</p>
                            </div>
                            <div class="hide-text">
                                {% for youtube_rec in youtube_records %}
                                    <div class="result">
                                        <a href="https://www.youtube.com/watch?v={{ youtube_rec.id.videoId }}">
                                            <p>{{ youtube_rec.snippet.title | truncatechars:17 }}</p>
                                            <p><img src="{{ youtube_rec.snippet.thumbnails.medium.url }}"></p>
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                                <button class="readmore">動画をみる</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>




<script>
    var id = $('form').attr('id');
    // 上記の入力欄にフォーカスを与える
    document.getElementById(id).focus();
</script>


<script>
$(window).on('load',function(){
    // ここから文字を<span></span>で囲む記述
    $('.typ').children().andSelf().contents().each(function() {
        if (this.nodeType == 3) {
            $(this).replaceWith($(this).text().replace(/(\S)/g, '<span>$1</span>'));
        }
    });
    // ここから一文字ずつフェードインさせる記述
    $('.typ').css({'opacity':1});
    for (var i = 0; i <= $('.typ').children().size(); i++) {
        $('.typ').children('span:eq('+i+')').delay(50*i).animate({'opacity':1},50);
    };
});
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(function() {
	// 初期表示は非表示にする
	$('#tenki').toggle();

	$("#tenki_button").click(function() {
		$("#tenki").toggle("1000",function(){
			$("#tenki_button").attr("value","天気を表示する");
		});
	});
});
</script>

<script>
$(function() {
	// 初期表示は非表示にする
	$('#car_news').toggle();

	$("#car_news_button").click(function() {
		$("#car_news").toggle("1000",function(){
			$("#car_news_button").attr("value","おすすめ情報を見る");
		});
	});
});
</script>

<script>
$(function() {
	// 初期表示は非表示にする
	$('#weight_news').toggle();

	$("#weight_news_button").click(function() {
		$("#weight_news").toggle("1000",function(){
			$("#weight_news_button").attr("value","体に変化があります！");
		});
	});
});
</script>

<script>
$(function(){
	$(".readmore").on("click", function() {
		$(this).toggleClass("on-click");
		$(".hide-text").slideToggle(1000);
	});
});
</script>

{% endblock content %}