### Django ###
*.log
*.pot
*.pyc
__pycach
src/robot_project/robot_project/.env

src/robot_project/db.sqlite3
media
settings_local.py
mydb.cnf
/src/robot_project/robot_project/.env
credentials.json
.env.local
.env.*.local

.DS_Store
node_modules
/dist

.idea