from .settings_local import *

version: '3'

services:
  db:
    image : AWS_KEY.dkr.ecr.ap-northeast-1.amazonaws.com/robot-project-mysql:latest
    volumes:
      - /db/data:/var/lib/mysql       # データの永続化を行う
    environment:
      - MYSQL_ROOT_PASSWORD=PWRoot1   # rootパスワードの設定
      - MYSQL_DATABASE=robot_project
      - TZ=Asia/Tokyo

  web:
    image: AWS_KEY.dkr.ecr.ap-northeast-1.amazonaws.com/robot-project-web:latest
    command: bash /code/run-my-app.sh
    links:
      - db

  nginx :
    image: AWS_KEY.dkr.ecr.ap-northeast-1.amazonaws.com/robot-project-nginx:latest
    ports:
      - "80:80"
    links:
      - web