

/*-- スマホ版表示CSS  --*/
@media screen and (max-width: 480px) {
  body{
    background-color: #F2F2F2 !important;
  }

  iframe{
    width: 100%;
    height: 260px;
  }

  header {
    border-bottom: 1px solid #000;
    margin: 10px 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 45px;
  }

  table th, table td {
    padding: 10px;
    border: none;
    font-size: 18px;
  }

  ul li {
    list-style: none;
  }

  header {
    border-bottom: 1px solid #000;
    margin: 0;
  }

  table tr td{
    border: none;
  }

  .header_class{
    margin: 0;
  }

  .modal-dialog.modal-notify.modal-success .modal-header {
    background-color: rgb(0, 123, 255);
  }

  .loginpage .heading a{
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .fa-check {
    color: rgb(0, 123, 255);
  }

  .robot_icon i.fas, .user_icon i.far {
    color: #007bff;
  }

  .robot_icon{
    width: 90%;
    display: inline-block;
    float: left;
    padding: 0 10px;
    font-size: 24px;
  }

  .robot_icon i.fas, .user_icon i.far {
    color: #007bff;
  }

  .robot_icon img{
    width: 35px;
  }

  .user_icon{
    font-size: 28px;
    width: 30px;
    display: inline-block;
    float: left;
  }

  .user_login ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .intro_list ul {
    padding: 15px 0 15px 10px;
  }

  .intro_list ul li {
    padding: 10px;
    font-size: 18px;
  }

  .intro_list i.fas, .intro_list i.far {
    margin-right: 10px;
    font-size: 20px;
    color: #999999!important;
  }

  .mypage, .loginpage{
    width: 80%;
  }

  .loginpage{
    margin-left: 70px;
  }



  .question_robot img{
    width: 50px;
  }

  .question_robot {
    width: 20%;
    display: inline-block;
    float: left;
  }


  .messages_ul ul{
    list-style: none;
    padding: 20px;]
  }

  .messages_ul ul li{
    margin: 0;
  }

  .robot_icon{
    width: 30px;
    width: 90%;
    display: inline-block;
    float: left;
  }

  .robot_icon img{
    width: 35px;
  }

  .user_icon{
    font-size: 28px;
    width: 30px;
    display: inline-block;
    float: left;
  }

  .user_login ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }

    #gmap{
    width: 100% !important;
  }


  .footer {
  margin-bottom: 48px;
  }

  .global-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
  }
  .nav-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
  }
  .nav-item {
    display: table-cell;
    border-top: solid 1px gray;
    padding: 8px 0px;
  }
  .nav-item a {
    text-decoration: none;
  }
  .nav-item i {
    display: block;
    font-size: 24px;
  }

  .nav-item a span {
    display: block;
    font-size: 10px;
  }

  .question_robot {
    width: 20%;
    display: inline-block;
    float: left;
  }

  .question_form p.tgt{
    margin: 0 0 0 10px;
    padding: 15px 0;
    font-size: 20px;
  }

  /*.tgt {opacity: 0;}*/

  /*.tgt span{opacity: 0;}*/


  .question_form p{
    padding: 10px 0;
    font-size: 18px;
  }

  .question_form ul {
    padding: 0 0 0 15px;
  }

  .form-control {
    padding: 25px !important;
    font-size: 20px;
  }


}

  /*-- PC版表示CSS  --*/
  @media screen and (min-width: 1200px) {
    .question_robot{
      display: inline-block;
      float: left;
      width: 300px;
      margin: 0 0 400px 0;
    }

    .question_form{
      display: inline-block;
      float: left;
      width: 400px;
    }


    body{
      background: #F2F2F2;
    }

    .fa-heart{
      color: rgb(237, 73, 86);
    }



  }