

/*-- スマホ版表示CSS  --*/
@media screen and (max-width: 480px) {

  ul li {
    list-style: none;
  }


  .question_form p.tgt{
    margin: 0 0 0 10px;
    font-size: 20px;
  }

  .question_form p{
    padding: 10px 0;
    font-size: 18px;
  }

  .question_form ul {
    padding: 0 0 0 15px;
  }

  #gmap, #map-canvas{
    width: 100% !important;
    height: 485px;
  }

  .question_robot {
    width: 20%;
    display: inline-block;
    float: left;
  }

  .question_form p.tgt{
    margin: 0 0 0 10px;
    font-size: 20px;
  }

  .question_form p{
    padding: 10px 0;
    font-size: 18px;
  }

  .question_form ul {
    padding: 0 0 0 15px;
  }

  .loginpage .heading a{
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
  }



  .footer {
  margin-bottom: 48px;
  }

  .global-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
  }

  .nav-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
  }
  .nav-item {
    display: table-cell;
    border-top: solid 1px gray;
    padding: 8px 0px;
  }
  .nav-item a {
    text-decoration: none;
  }
  .nav-item i {
    display: block;
    font-size: 24px;
  }

  .nav-item a span {
    display: block;
    font-size: 10px;
  }

  .form-control {
    padding: 25px !important;
    font-size: 20px;
  }

      /* ロボットの吹き出しcssここから */
  .balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  }

  .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 40px;
    position: relative;
    top: 10px;
    left: 3px;
  }

  .balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }

  .balloon5 .chatting {
    width: 90%;
  }

  .says {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 60px;
    padding: 15px 15px 11px;
    border-radius: 12px;
    background: #d7ebfe;
    width: 93%;
  }

  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }

  .says p {
    margin: 0;
    padding: 0;
  }

  .description .fa-star{
    color: #FFB100;
    margin-left: 10px;
  }

  /* ロボットの吹き出しcss　ここまで */

  /* google map ここから */
  .pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #00cae9;
    position: absolute;
    transform: rotate(-45deg);
    left: 53%;
    top: 48.5%;
    margin: -20px 0 0 -20px;
  }
  .pin:after {
    content: "";
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #e6e6e6;
    position: absolute;
    border-radius: 50%;
  }

  .bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
  }

  .pulse {
    background: #d6d4d4;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: 20;
  }
  .pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #00cae9;
    animation-delay: 1.1s;
  }

  @keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }

  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
    }

    80% {
      transform: translateY(-10px) rotate(-45deg);
    }

    100% {
      transform: translateY(0) rotate(-45deg);
    }
    /* google mapここまで */

  }

}

  /*-- PC版表示CSS  --*/
  @media screen and (min-width: 1200px) {

  }