

/*-- スマホ版表示CSS  --*/
@media screen and (max-width: 480px) {
  body {
    background-color: rgb(113, 147, 193) !important;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 45px;
  }

  table th, table td {
    padding: 10px;
    border: none;
    font-size: 18px;
  }

  ul li {
    list-style: none;
  }

  header {
    border-bottom: 1px solid #000;
    padding: 0;
    margin-bottom: 0;
    background: #F2F2F2;
  }

  table tr td {
    border: none;
  }

  .mypage, .loginpage {
    width: 80%;
  }

  .loginpage {
    margin-left: 70px;
  }

  .loginpage .heading a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .close {
    padding: 23px 16px;
  }

  .modal-dialog.modal-notify.modal-success .modal-header {
    background-color: rgb(0, 123, 255);
  }

  .fa-check {
    color: rgb(0, 123, 255);
  }

  .search_form {
    margin: 20px 0;
  }

  .header_class {
    margin: 0;
    padding: 10px;
  }

  .robot_icon {
    width: 90%;
    display: inline-block;
    float: left;
    padding: 0 10px;
    font-size: 24px;
  }

  .robot_icon i.fas, .user_icon i.far {
    color: #007bff;
  }

  .robot_icon img {
    width: 35px;
  }

  .user_icon {
    font-size: 28px;
    width: 30px;
    display: inline-block;
    float: left;
  }

  .user_login ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .intro_list ul {
    padding: 15px 0 15px 10px;
  }

  .intro_list ul li {
    padding: 10px;
    font-size: 18px;
  }

  .intro_list i.fas, .intro_list i.far {
    margin-right: 10px;
    font-size: 20px;
    color: #999999 !important;
  }

  .dtime {
    text-align: right;
    margin: 0 20px;
  }

  .question_robot {
    width: 20%;
    display: inline-block;
    float: left;
  }

  .question_form p.tgt {
    margin: 0 0 0 10px;
    font-size: 20px;
  }

  .question_form p {
    padding: 10px 0;
    font-size: 18px;
  }

  .question_form ul {
    padding: 0 0 0 15px;
  }

  .city_name {
    width: 35%;
    display: inline-block;
    float: left;
  }

  .card-body {
    padding: 0;
  }

  .card-body img {
    width: 100%;
  }

  .card-body p {
    display: inline-block;
    float: left;
    margin: 0;
  }

  p .hour {
    width: 100px;
  }

  .d-flex p.templature {
    margin-right: 15px;
  }

  .city_name {
    width: 25%;
    display: inline-block;
    float: left;
    margin: 37px 10px;
  }

  .font-weight-bold {
    font-size: 18px;
    margin: 12px 0;
  }

  .d-flex {
    width: 108%;
    float: left;
    padding: 15px 0;
  }

  .d-flex ul {
    padding: 0;
    margin: 0;
  }

  .result p {
    padding: 0;
    width: 40%;
    margin-left: 15px;
  }

  .result h3 {
    font-size: 14px;
  }

  .suggestion {
    /*margin: 30px 10px;*/
  }

  #car_news_button, #weight_news_button {
    margin: 10px 0px;
  }

  .question_route {
    width: 85%;
    margin: 0;
    text-align: left;
  }

  .robot_route {
    position: sticky; /*固定する*/
    position: -webkit-sticky; /*Safari用ベンダープレフィックス*/
    top: 0; /*ブラウザの上からの距離はゼロ*/
    width: 60px;
    display: inline-block;
    float: left;
  }

  .suggest_area {
    width: 90%;
    margin: 0;
  }

  .form-control {
    padding: 25px !important;
    font-size: 20px;
  }

  .health p {
    padding: 0;
    margin: 0;
  }

  .fa-heart {
    position: relative;
    top: -20px;
    left: 33px;
    color: rgb(224, 36, 94);
    font-size: 20px;
  }

  .recommend_car .result img {
    width: 100%;
  }

  .recommend_car .result p {
    width: 50%;
    display: inline-block;
    float: left;
  }

  .recommend_car .result {
    margin: 20px 0;
  }

  .recommend_car .result ul {
    padding: 0;
    font-size: 14px
  }

  .recommend_car .result table {
    margin-left: 55%;
    width: 45%;
  }

  .recommend_car .result table tr td {
    font-size: 14px;
    padding: 0;
  }

  #car_news li {
    background: #f2f2f2;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: #666 1px solid;
    display: none;
  }


  #text-wrap p {
    margin: 0;
  }

  #text-wrap {
    width: 100%;
    display: block;
  }

  .hide-text {
    display: none;
  }

  .hide-text .result {
    margin: 20px 0;
  }

  button.readmore {
    position: relative;
    margin: 10px auto;
    display: block;
    background-color: transparent;
    color: #666;
    padding-bottom: 40px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
  }

  button.readmore::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: solid 3px #666;
    border-right: solid 3px #666;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    right: 35px;
    top: 25px;
    transition: .5s;
    -erbkit-transition: .5s;
  }

  button.readmore:hover::after {
    top: 25px;
  }

  .on-click {
    color: transparent !important;
  }

  .on-click {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }

  .show-text p {
    margin-bottom: 30px;
  }

  .result img {
    width: 100%;
  }

  /*  評価　*/
  .evaluation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .evaluation input[type='radio'] {
    display: none;
  }

  .evaluation label {
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 30px;
    margin-top: 10px;
  }

  .evaluation label .text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
  }

  .evaluation label:hover,
  .evaluation label:hover ~ label,
  .evaluation input[type='radio']:checked ~ label {
    color: #ffcc00;
  }

  /* schedule */
  .todays_schedule h2 {
    font-size: 16px;
    margin: 14px 0;
    font-weight: 600;
  }

  .todays_schedule ul li {
    display: inline-block;
    float: left;
  }

  .todays_schedule ul li:nth-child(odd) {
    width: 35%;
  }

  .todays_schedule ul li:nth-child(even) {
    width: 60%;
    padding-top: 0;
    margin-left: 5px;
  }

  .delete_robot {
    margin: 30px 0;
  }

  .delete_robot img {
    opacity: 0.2;
    display: inline-block;
  }

  .delete_robot p {
    width: 80%;
    margin-left: 20px;
    display: inline;
    color: lightgrey;
  }

  /* scheduleここまで */
  #gmap {
    width: 100% !important;
  }


  .footer {
    margin-bottom: 48px;
  }

  .global-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
  }

  .nav-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
  }

  .nav-item {
    display: table-cell;
    border-top: solid 1px gray;
    padding: 8px 0px;
  }

  .nav-item a {
    text-decoration: none;
  }

  .nav-item i {
    display: block;
    font-size: 24px;
  }

  .nav-item a span {
    display: block;
    font-size: 10px;
  }

  .loginpage .heading a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  /* ロボットの吹き出しcssここから */
  .balloon1, .balloon2, .balloon3, .balloon4, .balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
  }

  .balloon1 .faceicon, .balloon2 .faceicon, .balloon3 .faceicon, .balloon4 .faceicon, .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 40px;
    position: relative;
    top: 10px;
    left: 3px;
  }

  .balloon1 .faceicon img, .balloon2 .faceicon img, .balloon3 .faceicon img, .balloon4 .faceicon img, .balloon5 .faceicon img {
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }

  .balloon1 .chatting, .balloon2 .chatting, .balloon3 .chatting, .balloon4 .chatting, .balloon5 .chatting {
    width: 100% !important;
  }

  .balloon1 .usericon {
    float: left;
    width: 40px;
    position: relative;
    top: 10px;
    left: 90%;
  }

  .balloon1 .usericon img {
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }

  .says {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 60px;
    padding: 15px 15px 11px;
    border-radius: 12px;
    background: #d7ebfe;
  }

  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }

  .says p {
    margin: 0;
    padding: 0;
  }

  .description .fa-star {
    color: #FFB100;
    margin-left: 10px;
  }

  .says_no {
    display: inline-block;
    position: relative;
    margin: 0 0 0 155px;
    padding: 11px 35px 11px;
    border-radius: 12px;
    background: #d7ebfe;
  }

  .says_no:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 16px;
    right: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
    transform: rotate(180deg);
  }

  .says_no p {
    margin: 0;
    padding: 0;
  }

  .says_no a {
    font-size: 16px;
  }

  .says_no ul li {
    display: inline-block;
    float: left;
    margin: 0 10px;
  }

  .says p.robot_text {
    font-size: 16px !important;
  }

  /* ロボットの吹き出しcss　ここまで */
  /* chatbot css　ここから */
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  #next_question .talk_right{
    float: right;
    display: inline-block;
    /*max-width: 200px;*/
    width: 100%;
    text-align: right;
  }

  #next_question .talk_right p {
    text-align: right;
    background-color:white;
    border-radius: 11px;
    display: inline-block;
    padding: 10px;
    /*margin: 0 5px 0 242px;*/
    /*margin-left: 60%;*/
  }

  #next_question .talk_left p, #first_question .talk_left p{
    text-align: left;
    background-color:white;
    padding: 10px;
    display: inline-block;
    border-radius: 11px;
    margin: 25px 16px;
  }

  #next_question .talk_left:before, #first_question .talk_left:before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
    left: -60px;
    border-radius: 50%;
    border: solid 1px #d7ebfe;
    background-size: cover;
    background-image: url(/media/robot2.png);
    top: 33px;
    position: relative;
    left: 8px;
  }

  #next_question .talk_right:after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
    right: 0;
    border-radius: 50%;
    border: solid 1px #d7ebfe;
    background-size: cover;
    background-image: url(/media/user.png);
    margin-left: 5px;
  }

  #next_question p:before, #first_question p:before{
    background-image: url(/media/robot2.png);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px #d7ebfe;
    background-size: cover;
  }

  #ajax-add-answer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 55px;
    font-size: 18px;
  }

   .select_button .btn-outline-primary{
    border-radius: 50px;
    background: #fff!important;
  }

  .select_button .btn-outline-danger{
    border-radius: 50px;
    background: #fff!important;
  }


}

  /*-- PC版表示CSS  --*/
  @media screen and (min-width: 1200px) {

  }