

/*-- スマホ版表示CSS  --*/
@media screen and (max-width: 480px) {
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
  }
  table th, table td {
    border: solid 1px black;
    padding: 10px;
  }

  ul li {
    list-style: none;
  }

  .dtime{
    text-align: right;
    margin: 0 20px;
  }

  .question_robot {
    width: 20%;
    display: inline-block;
    float: left;
  }

  .question_form p.tgt{
    margin: 0 0 0 10px;
  }

  .question_form p{
    padding: 10px 0;
  }

  .question_form ul {
    padding: 0 0 0 15px;
  }

  .result p{
    padding: 0;
  }

  .suggestion{
    /*margin: 30px 10px;*/
  }

  #car_news_button, #weight_news_button{
    margin: 10px 0px;
  }

  .question_route{
    width: 80%;
    margin: 0 0 0 20%;
  }

  .robot_route{
    position: sticky;/*固定する*/
    position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
    top: 0;/*ブラウザの上からの距離はゼロ*/
    width: 60px;
    display: inline-block;
    float: left;
  }

  .suggest_area{
    margin-bottom: 50px;
  }

  .health p{
    padding: 0;
    margin: 0;
  }

  .fa-heart{
    position: relative;
    top: -20px;
    left: 33px;
    color: rgb(224, 36, 94);
    font-size: 20px;
  }

  .recommend_car .result img{
    width: 100%;
  }

  .recommend_car .result p {
    margin: 0;
  }

  .recommend_car .result {
      margin: 30px 0;
  }

  #car_news li{
    background:#f2f2f2;
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:#666 1px solid;
    display:none;
  }


  #text-wrap p {
    margin: 0;
  }

  #text-wrap {
    width: 100%;
    display: block;
  }

  .hide-text {
    display: none;
  }

  .hide-text .result {
    margin: 20px 0;
  }

  button.readmore {
    position: relative;
    margin: 10px auto;
    display: block;
    background-color: transparent;
    color: #666;
    padding-bottom: 40px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
  }

  button.readmore::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: solid 3px #666;
    border-right: solid 3px #666;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    right: 35px;
    top: 25px;
    transition: .5s;
    -erbkit-transition: .5s;
  }

  button.readmore:hover::after {
    top: 25px;
  }

  .on-click {
    color: transparent!important;
  }

  .on-click {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }

  .show-text p{
    margin-bottom: 30px;
  }

  .result img{
    width: 100%;
  }



}

  /*-- PC版表示CSS  --*/
  @media screen and (min-width: 1200px) {

  }